{% comment %}
    base.html - Base Template for Mini Facebook Application
    
    This is the base template that provides the common structure for all pages
    in the mini_fb application. It includes:
    - HTML document structure
    - Static CSS file loading
    - Navigation menu (currently commented out)
    - Content block for child templates to override
    
{% endcomment %}

{% load static %}

<html>
    <head>
        <title>Show all the profiles</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <header>
            profiles
        </header>

        <nav>
            <ul>
                <nav>
                    <ul>
                        <li><a href="{% url 'show_all_profiles' %}">show all</a></li>
                        <li><a href="{% url 'create_profile' %}">Create</a></li>

                    </ul>
                </nav>
            </ul>
        </nav>

        {% block content %}
        {% comment %} Child templates will insert their content here {% endcomment %}
        {% endblock %}

        <footer>
            {% comment %} Footer content can be added here {% endcomment %}
        </footer>
        
    </body>
</html>