{% extends 'mini_fb/base.html' %}

{% block content %}



<h1>Showing all Articles</h1>

<div>
    

    {% for a in profiles %}
    <profile>
        {% if a.image_url %}
		<img src="{{a.image_url}}" alt="{{a.image_url}}">
        {% endif %}
        
        <div>
            <h2>{{a.first_name}}</h2>
            <h3>{{a.last_name}}<h3>
            <h3>{{a.city}}<h3>
            <h3>{{a.email_address}}<h3>
            <h3>{{a.image_url}}<h3>
            
        </div>
    </profile>

    {% endfor %}

<div>



{% endblock %}